/*index.html*/
body{
	background-color:#EAEAEA;
	font-size:18px;
}
h3{
	color: #333;
}
.rect{
	width: 780px;
	height: 310px;
	margin: 50px auto 0px auto;
	padding-bottom: 20px;
	background: white;
	border: white solid 10px;
	border-radius: 10px;
}
.logo{
	font-size: 30px;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left: 280px;
}
input{
	border-radius: 5px;
	width: 230px;
	height: 30px;
}
#leftDiv{
	float:left;
	padding-right: 40px;
	color: #333;
}
#leftDiv p, #leftDiv h3{
	padding-left: 80px;
}
#leftDiv a{
	color: #C0C0C0;
	text-decoration: none;
}
#leftDiv a:hover{
	color: #06C;
	text-decoration:underline;
}
#rightDiv{
	width: 320px;
	float:right;
	color: #333;
}
#signInBtn{
	background-color: #fff;
	border-color:#F33;
	width: 100px;
	height: 40px;
	color: #F33;
	font-size: 16px;
}	
#signUpBtn{
	background-color: #F33;
	border-color:#F63;
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
#or{
	padding-left: 20px;
}
.formInputError {
	padding-left: 75px;
	display: block;
	color: #dd4b39;
	line-height: 15px;
	font-size:15px;
}
/*register.html*/
.rect2{
	width: 780px;
	height: 500px;
	margin: 50px auto 0px auto;
	padding-bottom: 20px;
	background: white;
	border: white double 10px;
	border-radius: 10px;
}
#form_body{
	padding-left: 100px;
	color: #333;
}
#form_body label{
	display: inline-block;
	width: 200px;
	text-align:right;
	padding-right: 20px;
}
#registerBtn{
	margin-left: 22px;
	background-color: #F33;
	border-color:#F63;
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
#cancelBtn{
	float:left;
	margin-left: 170px;
	background-color: #fff;
	border-color:#F33;
	width: 100px;
	height: 40px;
	color: #F33;
	font-size: 16px;
}
/*forgotpwd.html*/
#emailNotifyBtn{
	margin-left: 360px;
	background-color: #F33;
	border-color:#F63;
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
#form_body2 {
	padding-left: 180px;
	
}
#form_body2 label{
	display:inline-block;
	width: 220px;
	color: #333;
}
#retrieve{
	color: #333;
}
#loginBtn{
	background-color: #00A652;
	border-color:#00A652;
	width: 70px;
	height: 30px;
	color: #fff;
}
/*register.html*/
.msgShow{
	width: 780px;
	height: 150px;
	margin: 50px auto 0px auto;
	padding-bottom: 20px;
	background: white;
	border: white solid 10px;
	border-radius: 10px;
}
