/*home.php*/
h3{
	color: #AD0035;
}
.icons, .inviteIcons {
	padding-bottom: 5px;
	background: white;
	border:none;
}
.modal-dialog{
	margin-top: 40px;
}
.modal-title{
	font-size: 20px;
	color: #005CE6;/*#DC143C;*/
}
.modal-body p{
	margin-left: 0px;
}
.modal-body label{
	display: inline-block;
	width: 200px;
	text-align:right;
	padding-right: 20px;
	font-size: 16px;
}
.modal-body input{
	border-radius: 5px;
	width: 200px;
	height: 30px;
}
.dataTables_wrapper{
	padding: 0 20px 0 0;
	/*width: 1100px;*/
}
.dataTables_length{
	display: none;
}
.dataTables_filter label input {
	margin-left: 10px;
	width: 300px;
	height: 30px;
	border-radius: 5px;
}
.dataTables_filter label{
	padding-bottom: 10px;
	float:right;
}
#submit{
	background: #005CE6; 
	color: white; 
	border: 1px solid black;
	margin-top: 0px;
	width: 120px;
	height: 35px;
	float: right;
}
.modal-body p{
	margin-left: 0;
	padding-left: 0;
}
#projectStatus{
	float: left;
	padding-left: 50px;
}

#teamStatus{
	float: right;
	margin-top: 0px;
	margin-right: 50px;
	border-left:thin solid #999;
}
#desc{
	margin-left: 300px;
	margin-top: -300px;
}
#desc2{
	margin-left: 420px;
	margin-top: -300px;
	margin-bottom: 230px;
}
#user2contribution{
	border-bottom: thin solid #999;
}
#contribution{
	float:right;
}