/*home.php*/
h3{
	color: #F33;
}
.icons, .inviteIcons {
	padding-bottom: 5px;
	background: white;
	border:none;
}
.modal-dialog{
	margin-top: 40px;
}
.modal-title{
	font-size: 20px;
	color: #DC143C;
}
.modal-body p{
	margin-left: 0px;
}
.modal-body label{
	display: inline-block;
	width: 200px;
	text-align:right;
	padding-right: 20px;
	font-size: 16px;
}
.modal-body input{
	border-radius: 5px;
	width: 200px;
	height: 30px;
}
.dataTables_wrapper{
	padding: 0 20px 0 0;
	/*width: 1100px;*/
}
.dataTables_length{
	display: none;
}
.dataTables_filter label input {
	margin-left: 10px;
	width: 300px;
	height: 30px;
	border-radius: 5px;
}
.dataTables_filter label{
	padding-bottom: 10px;
	float:right;
}
#submit{
	margin-top: 0px;
	width: 120px;
	height: 35px;
	float: right;
}
.modal-body p{
	margin-left: 0;
	padding-left: 0;
}
#projectStatus{
	float: left;
	padding-left: 50px;
}

#teamStatus{
	float: right;
	margin-top: 0px;
	margin-right: 100px;
	border-left:thin solid #999;
}
#desc{
	margin-left: 300px;
	margin-top: -300px;
}
#desc2{
	margin-left: 420px;
	margin-top: -300px;
	margin-bottom: 230px;
}
#user2contribution{
	border-bottom: thin solid #999;
}
#contribution{
	float:right;
}





/*** ON-OFF SWITCH CSS*/
.onoffswitch {
    position: relative; width: 113px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 13px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "COMPLETE";
    padding-left: 10px;
    background-color: #FF3333; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "INCOMPLETE";
    padding-right: 10px;
    background-color: #E6E6E6; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 16px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 13px;
    position: absolute; top: 0; bottom: 0; right: 88px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

